.react-datepicker-popper {
  display: flex;
  /* position: absolute; */
  border-radius: 0;
  margin-top: 30px;
}

.react-datepicker-wrapper {
  display: flex;
  border: 1px solid rebeccapurple;
  border-radius: 10px;
  background-color: #c3ebff;
  font-size: 20px;
  /* margin-top: 30px; */
}

.react-datepicker__tab-loop {
  width: 300px;
  display: flex;
}

.react-datepicker__input-container {
  display: flex;
  justify-content: center;
}

.react-datepicker__input-container > input {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: transparent;
  text-shadow: 0 0 0 black;
  transition: 0.1s;
  border-radius: 10px;
}

.react-datepicker__input-container > input:hover {
  background-color: #fff;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  background-color: #c3ebff;
  color: #fff;
}

.react-datepicker {
  position: absolute;
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 6.8px;
}

/* .react-datepicker__current-month {
    font-size: 1.5rem !important;
  } */

/* .react-datepicker__header {
    padding-top: 6px !important;
  } */

/* .react-datepicker__navigation {
    top: 13px !important;
  } */

/* .saturday {
    color: rgb(0, 0, 255) !important;
  }
  
  
  
  
  
  
  
  
  .sunday {
    color: rgb(255, 0, 0) !important;
  }
  
  
  
  
  
  
  
  
  .react-datepicker__day--disabled {
    color: #cccccc !important;
  } */
